@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Poppins bg-gcNeutrals-baseWhite;
  }
}

@layer utilities {
  .gcDropShadow {
    @apply drop-shadow-md;
  }

  .gcHeading1p {
    @apply text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-extrabold gcDropShadow;
  }

  .gcHeading2p {
    @apply text-base sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl font-bold leading-5 gcDropShadow;
  }

  .gcHeading3p {
    @apply xl:text-3xl font-bold lg:text-2xl md:text-xl text-base gcDropShadow;
  }

  .gcHeading4p {
    @apply font-bold xl:text-base sm:text-sm text-xs gcDropShadow;
  }

  .gcHeading5p {
    @apply font-semibold text-2xl md:text-3xl lg:text-4xl xl:text-5xl gcDropShadow;
  }

  .gcHeading6p {
    @apply font-semibold text-sm md:text-lg lg:text-xl xl:text-2xl gcDropShadow;
  }

  .gcHeading7p {
    @apply font-bold text-sm xl:text-xl gcDropShadow;
  }

  .gcBody1p {
    @apply text-xs sm:text-sm md:text-base lg:text-xl gcDropShadow;
  }

  .gcBody2p {
    @apply lg:text-base sm:text-sm text-xs gcDropShadow;
  }

  .gcContentAccent1p {
    @apply font-Poppins xl:text-lg md:text-sm text-xs font-semibold;
  }

  .gcContentAccent2p {
    @apply font-Poppins xl:text-base md:text-sm text-xs font-semibold;
  }

  .gcContentAccent3p {
    @apply font-Poppins xl:text-sm md:text-xs text-xs font-semibold;
  }

  .gcContentAccent4p {
    @apply font-Poppins xl:text-base md:text-sm sm:text-xs text-[10px] font-semibold;
  }

  .gcContentAccent5p {
    @apply font-Poppins xl:text-lg md:text-base text-sm font-semibold;
  }

  .gcContentBody1p {
    @apply font-Poppins xl:text-lg md:text-sm text-xs font-medium;
  }

  .gcContentBody2p {
    @apply font-Poppins xl:text-base md:text-sm text-xs font-medium;
  }

  .gcContentBody3p {
    @apply font-Poppins xl:text-base md:text-sm text-xs font-normal;
  }

  .gcContentBody4p {
    @apply font-Poppins xl:text-xl md:text-lg sm:text-base text-sm font-medium;
  }

  .gcContentBody5p {
    @apply font-Poppins xl:text-sm md:text-xs text-xs font-medium;
  }

  .gcContentBody6p {
    @apply font-Poppins xl:text-lg md:text-base sm:text-sm text-xs font-medium;
  }

  .gcContentBody7p {
    @apply font-Poppins xl:text-base md:text-sm sm:text-xs text-[10px] font-medium;
  }

  .gcContentAccent1pi {
    @apply font-Poppins xl:text-lg md:text-sm text-xs font-normal italic;
  }

  .gcHeadingQuote {
    @apply font-semibold xl:text-4xl lg:text-3xl md:text-2xl text-xl;
  }

  .gcBodyQuote {
    @apply lg:text-xl md:text-base text-sm;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* Additional CSS for Quill editor content */
.prose {
  white-space: pre-wrap; /* Ensure text wraps within the container */
  overflow-wrap: break-word; /* Break long words to avoid overflow */
}

.prose p {
  @apply leading-6 m-0;
}

.prose h1 {
  @apply mb-3 mt-0;
}

.prose h2 {
  @apply mb-2.5 mt-0;
}
.prose h3,
.prose h4 {
  @apply mb-2 mt-0;
}
.prose h5 {
  @apply mb-1.5 mt-0;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5 {
  font-weight: bold;
}
.prose blockquote {
  border-left: 4px solid #ddd;
  padding-left: 16px;
  color: #666;
  margin-left: 0;
  margin-right: 0;
}
.prose img {
  max-width: 100%;
}

.prose .ql-size-small {
  @apply md:text-sm text-xs;
}

.prose .ql-size-large {
  @apply xl:text-2xl lg:text-xl md:text-lg sm:text-base text-sm;
}

.prose .ql-size-huge {
  @apply xl:text-3xl lg:text-2xl md:text-xl sm:text-lg text-base;
}

.prose pre {
  background: #f5f5f5;
  padding: 16px;
}
.prose ol,
.prose ul {
  padding-left: 20px;
}
.prose .ql-indent-1 {
  padding-left: 3em;
}
.prose .ql-indent-2 {
  padding-left: 6em;
}
.prose .ql-indent-3 {
  padding-left: 9em;
}
.prose .ql-indent-4 {
  padding-left: 12em;
}
.prose .ql-indent-5 {
  padding-left: 15em;
}
.prose .ql-indent-6 {
  padding-left: 18em;
}
.prose .ql-indent-7 {
  padding-left: 21em;
}
.prose .ql-indent-8 {
  padding-left: 24em;
}

.prose .ql-align-right {
  @apply text-right;
}
.prose .ql-align-center {
  @apply text-center;
}
.prose .ql-align-justify {
  @apply text-justify;
}
